.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-family: fantasy;
    background-image: linear-gradient(rgb(182, 162, 212), rgb(255, 255, 255));
    font-size: 30px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}

.first {
    font-family: 'Dokdo', cursive;
    background-size: cover;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 130px;
}

.profile {
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 5%;
    border: 1px solid gray;
    /* background-color: rgba(53, 0, 0, 0.1); */
    border: 1px solid rgba(132, 0, 255, 0.5);
}

.profile img {
    border-radius: 30%;
}

.me {
    box-shadow: 5px 5px 5px rgba(220, 183, 255, 0.5);
    border-radius: 14%;
}
.intext {
    font-family: 'Dokdo', cursive;
    font-size: 30px;
    font-weight: 1000;
    padding-left: 5%;
    text-align: left;
    line-height: 50px;
    display: inline-block;
    margin-top: 10px;
}

.second {
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}

.lists {
    font-family: 'Dokdo', cursive;
    margin-left: 15%;
    margin-bottom: 20%;
    text-align: center;

    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    font-style: italic;
}

.list_img {
    box-shadow: 5px 5px 5px #000;
    border-radius: 30%;
    width: 300px;
    height: 300px;
    display: block;
    margin: 7vh 5vh;
    margin-bottom: 50px;
}

.favorites {
    display: inline-flex;
    margin-top: 20%;
}

body::-webkit-scrollbar {
    width: 20px;
}

/* 스크롤바 막대 꾸미기 */
body::-webkit-scrollbar-thumb {
    background: linear-gradient(#d400ff, #ffe498);
    border-radius: 25px;
}

/* 스크롤바 트랙 꾸미기 */
body::-webkit-scrollbar-track {
    background-color: #57575723;
}

.footerText {
    font-family: 'Dokdo', cursive;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}

.slidebox {
    max-width: 60%;
    margin: 0 auto;
    position: relative;
}
.slidebox .slidelist {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox .slidelist .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    width: 100%;
    transition: all 1s;
}
.slidebox .slidelist .slideitem > a {
    display: block;
    width: auto;
    position: relative;
}
.slidebox .slidelist .slideitem > a img {
    max-width: 100%;
}

.slidebox .slide-control [class*='control'] label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
/* .slidebox .slide-control [class*='control'] label.prev {
    left: -50px;
    background: #333 url('./img/left-arrow.png') center center / 50% no-repeat;
} */
.slidebox .slide-control [class*='control'] label.next {
    right: -50px;
    background: rgb(199, 189, 215) url('./pictures/right.png') center center / 50% no-repeat;
}

.imagetxt {
    font-family: 'Dokdo', cursive;
    font-size: 50px;
    font-weight: 500;
    padding-left: 5%;
    margin-top: 5%;
    text-align: left;
    line-height: 50px;
    vertical-align: top;
    display: inline-block;
}

[name='slide'] {
    display: none;
}
#slide01:checked ~ .slidelist .slideitem {
    left: 0;
}
#slide02:checked ~ .slidelist .slideitem {
    left: -100%;
}
#slide03:checked ~ .slidelist .slideitem {
    left: -200%;
}
#slide04:checked ~ .slidelist .slideitem {
    left: -300%;
}

.slide-control [class*='control'] {
    display: none;
}
#slide01:checked ~ .slide-control .control01 {
    display: block;
}
#slide02:checked ~ .slide-control .control02 {
    display: block;
}
#slide03:checked ~ .slide-control .control03 {
    display: block;
}
#slide04:checked ~ .slide-control .control04 {
    display: block;
}
